<launch>

    <arg name="dis_thre_ransac" default="1" />
    <arg name="max_window_size_ptc" default="2.5" />
    <arg name="initial_dis_ptc" default="1.0" />
    <arg name="seg_type_ptc" default="PMF"/>
    <arg name="MLS_sw" default="false"/>
    <arg name="poly_order_ptc" default="2"/>
    <arg name="search_r_ptc" default="10"/>
    <arg name="vis_ptc" default="false" />
    <arg name="passf_ptc" default="true" />

    <node pkg="ptc_demo" type="plane_model" name="plane_model" output="screen">
        <param name="pcd_file_path" value="/media/taole/HHD/Doc/daily_work/work_tg/ros_ws/data_for_seg/obstacle_2407051534_h3_hill_tree_v_20c.pcd" />
        <param name="output_folder" value="/media/taole/HHD/Doc/daily_work/work_tg/ros_ws/seg_result" />
        <!-- <param name="dis_thre" value="1" /> -->
        <param name="dis_thre" value="$(arg dis_thre_ransac)" />
        <param name="max_window_size" value="$(arg max_window_size_ptc)" />        
        <param name="initial_dis" value="$(arg initial_dis_ptc)" />   
        <param name="seg_type" value="$(arg seg_type_ptc)" />
        <param name="MLS" value="$(arg MLS_sw)" />
        <param name="poly_order" value="$(arg poly_order_ptc)" />
        <param name="search_r" value="$(arg search_r_ptc)" />     
        <param name="vis" value="$(arg vis_ptc)" />
        <param name="passf" value="$(arg passf_ptc)" />  
        <!-- <param name="original_ptc" value="False" /> -->
    </node>
</launch>
